*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.nav{
    height: 90px;
    width: 100%;
    background: #fdf8ee;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 0 2px 1px black;
    position: fixed;
   
}

.logo{
    height: 100%;
    width: 15%;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img{
height: auto;
width: 50%;
}

.left{ height: 100%;
    width: 35%;
    background: transparent;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #93573b;
    font-size: 20px;
    font-weight: bold;

}

.kavi{
    height: 100%;
    width: 16.66%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.kavita{
    height: 100%;
    width: 16.66%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.gadh{
    height: 100%;
    width: 16.66%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sanghralay{
    height: 100%;
    width: 16.66%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.shbdkosh{
    height: 100%;
    width: 16.66%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.aany{
    height: 100%;
    width: 16.66%;
    display: flex;
    align-items: center;
    justify-content: center;
}


.kavi:hover{
    background-color: #93573b;
    color: #ffffff;
}
.kavita:hover{
    background-color: #93573b;
    color: #ffffff;
}
.gadh:hover{
    background-color: #93573b;
    color: #ffffff;
}
.sanghralay:hover{
    background-color: #93573b;
    color: #ffffff;
}
.shbdkosh:hover{
    background-color: #93573b;
    color: #ffffff;
}
.aany:hover{
    background-color: #93573b;
    color: #ffffff;
}
.mid{
    
    height: 100%;
    width: 30%;
    background:transparent;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: #93573b;
    
   

}

.mid input{
    height: 60%;
    width: 60%;
    font-size: 16px;
    font-family: kalam;
    /* border: 1px #93573b; */
    padding-left: 10px;
    background-color: transparent;
    margin-right: 50px;
    color: #93573b;
   
}

.leng{
    font-size: 30px;
    color: #93573b;
}

.leng:hover{
    color: royalblue;
}
.fa-instagram-square:hover{
    color: orangered;
}
.fa-linkedin:hover{
    color: blue;
}
.fa-facebook-square:hover{
    color: blue;
}
ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    
}
li{
    margin: 20px;
    font-size: 30px;
    color: #93573b;
}
.fa-twitter-square:hover{
    color: rgb(12, 181, 248);
   
    
}

.id{
    display: flex;
    align-items: center;
    width: 10%;
    height: 100%;
}
.social{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 100%;
}


.right{
    height: 100%;
    width: 20%;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}
.op{
    width: 100%;
    height: 70vh;
    background-color: rgb(87, 56, 56);
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    
}
.t1{
    width: 30%;
    height: 80%;
    background-color: #ffffff;
    margin-left: 60px;
    display:flex;
    justify-content: center;
    align-items: center;
 
}


.t2{
    width: 30%;
    height: 80%;
    background-color: #ffffff;
    display:flex;
    justify-content: center;
    align-items: center;
}
.t3{
    width: 30%;
    height: 80%;
    background-color: #ffffff;
    margin-right: 60px;
    display:flex;
    justify-content: center;
    align-items: center;
    
    
    
}

.t11{
    width: 450px;
    height: 450px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1px;
  
}
.t22{
    width: 450px;
    height: 450px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1px;
}
.t33{
    width: 450px;
    height: 450px;
    margin-top: 1px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img{
    width: 450px;
    height: 450px;
    
    background-color: #93573b;
    margin-top: 1px;
    transition: 0.6s;
    
    
    
}
.img img{
    width: 450px;
    height: 450px;
    object-fit: cover;
    
    
    
}
.img:hover{

    transform: scale(1.5 )

}

.po{
    width: 100%;
    height: 30vh;
    background-color: rgb(87, 56, 56);
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.t97{
    width: 30%;
    height: 80%;
    background-color: #ffffff;
    margin-right: 60px;
    
    
    
    
}.t98{
    width: 30%;
    height: 80%;
    background-color: #ffffff;
    
    
    
    
    
}.t99{
    width: 30%;
    height: 80%;
    background-color: #ffffff;
    margin-left: 60px;
    
    
    
    
    
}

.t99 .pn, h2{
    margin-top: 20px;
    margin-left: 60px;

}

.pn{
    font-weight: bold;
    font-size: large;
    color: rgb(99, 99, 99);
    margin-left: 60px;
}

.img2{

    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 20px;
}

.img2 img{
    height: auto;
    width: 9%;
    margin-left: 60px;
    
}

.pm{
    font-size: large;
    font-weight: bold;
    margin-left:10px;
    color: rgb(8, 8, 8);
}

.by{
    margin-left: 10px;
    color: rgb(97, 95, 95);
}

@font-face {
    font-family: 'kalam';
    src: url(/Fonts/Kalam/Kalam-Regular.ttf);
}

.hindi{
    font-family:kalam;
}